recentf
auto-save-list/
custom.el
configuration.el
session*
bookmarks
eshell/
elpa/
places
tramp
projectile-bookmarks.eld
projectile.cache
recentf
amx-items
smex-items
transient/
anaconda-mode/
elpy/
url/
org-roam.db
org-journal.cache
.org-id-locations
result
network-security.data
.lsp-session*
.dap-breakpoints
package-quickstart.el
straight/
server/
